/* Login Page Styles */

body {
    background-image: url('../images/strawberry-field.jpg');
    background-size: cover; /* Makes sure the image covers the entire page */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #333;
  }
  
  .login-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
  }
  
  .login-container h1 {
    color: #30ca56;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #00bfa6;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #00bfa6;
    border-radius: 20px;
    outline: none;
  }
  
  button {
    background-color:#30ca56 ;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #3b9150;
  }
  
  #errorMessage {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
  }
  